body {
    font-family: 'Roboto Condensed';
    font-weight: normal;
}

h1 {
    font-family: 'Noto Sans TC';
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;

}

h2 {
    font-family: 'Noto Sans TC';
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-family: 'Noto Sans TC';
    font-size: 2rem;
    font-weight: bold;
}

p {

    font-weight: bold;
    opacity: .6;
    display: inline-block;
    width: 90%;
    text-align: center;
}

hr {
    border-style: solid;
    border-color: #8D2828;
    width: 80%;
    opacity: .3;
    margin: 100px auto;

}

#title {
    background-color: #FFD523;
    color: #ffffff;

}

.main-title:hover {
    color: #8D2828;
}

.modified {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    padding: 3% 10%;

}



/* navigation-bar */
.navbar {
    /* backdrop-filter: blur(10px); */
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 5rem;
    background-color: rgb(0, 0, 0);

}

.navbar-brand {
    font-family: 'Merienda', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    padding-left: 20px;

}

.nav-item {
    padding-right: 40px;
    font-family: 'Noto Sans TC';
}

/* download-button */

.buttons-download {
    margin: 5% 3% 2% 0%;
}

.image-title {
    width: 13%;
    transform: rotate(22deg);
    margin-left: 200px;
    position: absolute;

}



/* features */
#features {
    padding: 3% 8% 0% 8%;
    color: #8D2828;
    line-height: 1.5rem;
    background-color: #ffffff;
    position: relative;



}

.features {
    text-align: center;
}

.feature-icon {
    font-size: 4rem;
    color: #8D2828;
    opacity: .7;
    margin-bottom: 1.5rem;
}

.feature-icon:hover {
    opacity: 1;
}


/* pricing */

#pricing {

    text-align: center;
    padding: 100px;
    padding-top: 1px;
    margin-top: 10px;
    background-color: #ffffff;

}

.card-header {
    font-family: 'Noto Sans TC';
    font-size: 1.5rem;
    font-weight: bold;

}

.card-header:hover {
    background-color: #8D2828;
    color: #fff;
}

.card-block {
    padding: 0 1% 0 1%;
}

.card {
    height: 100%;
}

.list-group-item {
    font-weight: bold;
}


/* above-footer */
#cta {
    background-color: #8D2828;
    text-align: center;
    padding: 50px 100px 50px 100px;

}


/* footer */

#footer {
    padding: 2% 0% 1% 0%;
    text-align: center;
}

.footer-icons {
    opacity: .8;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

.footer-icons:hover {
    opacity: 1;
}







/* media_queries */

@media (max-width:1400px) {
    .image-title {
        width: 17%;
        transform: rotate(22deg);
        margin-left: 200px;
        position: absolute;
    }

   
}


@media (max-width:1000px) {
    .image-title {
        position: static;
        transform: rotate(.5deg);
        width: 40%;
        margin-right: 210px;
        margin-top: 20px;

    }

    #title {
        text-align: center;
        padding-bottom: 30px
    }

}

@media (max-width:500px) {
    .image-title {
        position: static;
        transform: rotate(.5deg);
        width: 40%;
        margin-right: 210px;
        margin-top: 20px;

    }

    #title {
        text-align: center;
        padding-bottom: 30px
    }

    .card-block {
        flex: 0 0 auto;
        width: 100%;
    }
}